.table{
  margin-top: 20px;
}

.pgn{
  padding-bottom: 20px;

}

.div-pgn{
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;

}

.page-link{
  color: black !important;
  border-radius: 0px !important;
}

.active>.page-link, .page-link.active {
  background-color: cornflowerblue !important;
}

.pgn-link{
  color: black;
  border: 0px solid black;

 padding: 0px;
}

.pgn-link:hover {
  color: black;
}

.pgn-link:active {
  color: black !important;
}


#custom-switch{
  width: 50px !important;
  height: 20px;
  border: 1px solid black ;
}

#custom-switch:checked{
 background-color: #2a2f5b;
 border: 1px solid black ;
}


.div-add{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-top: 10px;
}

.btn-add {
  background-color: #2a2f5b;
}

.btn-add:hover{
  background-color: #2a2f5b;
}


.btn-update {
  color: black;
  padding: 3px 15px;
  margin: 5px;
}

.btn-update:hover {
  background-color: cornflowerblue;
  color: black;
}

.btn-update:active {
  background-color: cornflowerblue;
}