/* css tour */

.ctn-tour {
  padding-top: 80px;
}
.mb-3.form-floating {
  height: 70px;
}
/* styles/slider.css */
.swiper-container {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide.swiper-slide-active {
  padding: 0 50px;
}
.list-tour_time {
  padding: 1rem;
  max-height: 550px;
  overflow-y: auto;
}
.invalid-feedback {
  text-align: start;
}
